/* --------------------------- START OF Container --------------------------- */
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
}
/* --------------------------- END OF Container --------------------------- */


/* --------------------------- START OF header --------------------------- */
header, .projects {
    height: 400px;
    width: 100%;
}

header {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

header,
section {
    display: flex;
    position: relative;
}

header::after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 90%;
    margin-left: 5%;
    border-bottom:1px solid #a5a5a5;
}

header .leftColumn, 
header .rightColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .leftColumn img {
    width: 60%;
    border-radius: 2%;
}

header .rightColumn_content {
    width: 90%;
}

header .rightColumn_content .name {
    margin-top: 0;
    font-size: 4em;
    margin-bottom: 0.05em;
}

header .rightColumn_content .social > .icons > * {
    text-align: center;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

header .rightColumn_content .social > .icons > *:hover {
    color: lightblue;
}

.social {
    display: flex;
    align-items: center;
}

header .social .separator {
    border-left: 3px solid black;
    height: 4em;
    width: 1px;
}

header .social .desription {
    background-color: red;
    height: 4em;
    position:relative;
    width: 60%;
}
header .social .desription .role {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
}

h3.roleText {
    margin: 0;
    padding-top:0.4em;
    padding-left:0.6em;
    font-size: 1.7em;
}

.icons{
    padding-right:0.8em;
}
/* --------------------------- END OF header --------------------------- */


/* --------------------------- START OF about me --------------------------- */
.about {
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: block;
}

.about > .row > .rowContainer > .leftColumn,
.about .row > .rowContainer {
    display: flex;
    position: relative;
}

.about::after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 90%;
    margin-left: 5%;
    border-bottom:1px solid #a5a5a5;
}

.about > .row .rowContainer > .leftColumn:after {
    content : "";
    position: absolute;
    right    : 0;
    top  : 0;
    margin-top: 4%;
    height  : 90%;
    width: 1px;
    border-right:1px solid #a5a5a5;
}

.about .row {
    width: 100%;
    margin-bottom: 0.5em; 
}

.about .row:last-child { 
    margin-bottom: 0;
}

.about .leftColumn, 
.about .rightColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .title .titleText {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

.about #aboutMeText {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.about .aboutMe .rightColumn {
    display: block;
}
/* --------------------------- END OF about me --------------------------- */


/* --------------------------- START OF resume --------------------------- */
.resume {
    padding-bottom: 2em;
    margin-bottom: 1em;
}

.resume .row > .rowContainer,
.resume > .row > .rowContainer > .leftColumn {
    display: flex;
    position: relative;
}

.resume::after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width: 90%;
    margin-left: 5%;
    border-bottom:1px solid #a5a5a5;
}

.resume > .row .rowContainer > .leftColumn:after {
    content : "";
    position: absolute;
    right    : 0;
    top  : 0;
    margin-top: 4%;
    height  : 90%;
    width: 1px;
    border-right:1px solid #a5a5a5;
}

.resume,
.resume .employment .rightColumn,
.resume .techUsed .rightColumn {
    display: block;
}

.resume .row {
    width: 100%;
    margin-bottom: 0.5em; 
}

.resume .row:last-child { 
    margin-bottom: 0;
}

.resume .leftColumn, 
.resume .rightColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume .progTitle,
.resume .jobTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume .progTitle h4.progTitleText,
.resume .jobTitle h4.jobTitleText {
    margin-top: 1em;
    margin-bottom: 1em;
}

.resume .title .titleText {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

.resume .progList > .iconRow > * {
    text-align: center;
    margin-left: 0.15em;
    margin-right: 0.15em;
}

.resume .leftColumn.progTitle {
    width: 35%;
}

.resume .leftColumn.jobTitle {
    width: 45%;
}

.resume .leftColumn.progTitle::after,
.resume .leftColumn.jobTitle::after {
    border: none !important;
    height: 0;
    width: 0;
}

.resume .rightColumn.progList {
    width: 70%;
}

.resume .progList > .iconRow >  *:first-child {
    margin-left: 0;
}

.resume .iconRow {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.resume .companyDescription > * {
    display: block;
}

.resume .companyDescription > .timePeriod {
    margin-top: 0.25em;
    font-size: 14px;
    font-style: italic;
}

.resume > .row:first-child {
    margin-bottom: 2em;
}
/* --------------------------- END OF resume --------------------------- */

/* --------------------------- START OF projects --------------------------- */
.projects .row {
    width: 100%;
    margin-bottom: 0.5em; 
}

.projects .row { 
    margin-bottom: 0;
}

.projects .leftColumn, 
.projects .rightColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------- END OF projects --------------------------- */


/* --------------------------- START OF footer --------------------------- */
footer {
    height: 75px;
    background-color: #f2f2f2;
}
/* --------------------------- END OF footer --------------------------- */