body {
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 14px;
}


body .content {
  flex:1;
  background-color: blue;
}

body .sidePanel {
  min-width: 7em;
}

.topPanel,
.botPanel{
  height: 25%;
}

.midPanel {
  height: 50%;
}

.sidePanelName{
  margin:1em;
}

.sidePanelName h2 {
  margin: 0;
}

body .sidePanel,
.sidePanel .midPanel nav {
  display: flex;
  flex-direction: column; 
}

nav .navItem {
  background-color: red;
  border: 1px black solid;
  text-decoration: none;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem .navItemText {
  color: white;
  
}
